h1 {
    
    color: white;
    font-family: 'Arizonia', cursive;  
    font-size: 100px;  
}

h2 {
    font-size: 36px;
    font-family: 'Oxygen', sans-serif;
}



body{
    background-color: rgb(39, 30, 24);
}



